.create-board-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.create-board-form-container hr {
    border: 2px solid goldenrod;
    width: 200px;
}

.create-board-form-container h1 {
    text-align: center;
}

.create-board-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 80px 30px 30px 30px;
}

.create-board-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.submit-new-board {
    border: none;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 3px solid darkgrey;
    background-color: darkgrey;
}

.submit-new-board:hover {
    border: goldenrod solid 3px;
    background-color: goldenrod;

}

.form-board-title {
    width: 230px;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 3px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid darkgrey;
    margin: 0 5px;
}

.form-board-title:focus {
  border: 3px solid goldenrod;
}