.footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-bottom: 5px;
}

.footer a {
    color: #ddd;
    font-size: 25px;
    margin: 5px 10px;
}

.footer a:hover {
    color: goldenrod;
}

