.splash {
    display: flex;
    padding: 80px;
    justify-content: space-between;
}

.splash-text {
    display: flex;
    flex-direction: column;
    width: 540px;
}

.splash-text h1 {
    color: goldenrod;
    line-height: 55px;
    font-size: 45px;
    margin-bottom: 20px;
}

.splash-text p {
    color: #ddd;
    font-size: 20px;
    line-height: 35px;
}

.hero-image {
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    padding: 0 0 0 20px;
    align-items: flex-start;
    height: 600px;
}

img {
    width: 300px;
    height: 500px;
}
