.errors-signup {
    min-height: 20px;
    color: blue;
    max-width: 300px;
}

.errors-signup ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
}

.logo-alt {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.signup-form-box hr {
    border: 2px solid goldenrod;
    width: 200px;
}

.signup-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-box-header {
    text-align: center;
    margin-top: 20px;
    align-items: center;
    font-family: Impact, fantasy;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.signup-submit {
    border: none;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 3px solid darkgrey;
    background-color: darkgrey;
}

.signup-submit:hover, .signup-password:hover, .signup-email:hover, .signup-username:hover {
  border: goldenrod solid 3px;
}

.signup-password, .signup-email, .signup-username {
    width: 100%;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 3px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid darkgrey;

}

.signup-password:focus , .signup-email:focus, .signup-username:focus {
  border: 3px solid goldenrod;
}